<h1>Lista de camisetas</h1>

<table border=1>
  <tr>
    <th>Tamanho</th>
    <th>Tipo</th>
    <th>Ações</th>
  </tr>

<% for camiseta in @camisetas %>
  <tr>
    <td><%=h camiseta.tamanho %></td>
    <td><%=h camiseta.tipo %></td>
    <td>
      <%= link_to 'mostrar', camiseta %>
      <%= link_to 'editar', edit_camiseta_path(camiseta) %>
      <%= link_to 'apagar', camiseta, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova camiseta', new_camiseta_path %>
